<div class="cart">
  <h2>{{ restaurantName }}</h2>
  <div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.quantity }}</span> X
    <span>{{ item.price / 100 }}$</span>
    <button (click)="increaseMealQuantity(item._id)">+</button>
    <button (click)="decreaseMealQuantity(item._id)">-</button>
    <hr />
  </div>
  <p>TOTAL: {{ totalPrice }}$</p>
  <div class="btnDiv">
    <button class="cart-btn">
      <span>Place order</span>
    </button>
    <button class="cart-btn" (click)="removeOrder()">
      <span>Remove order</span>
    </button>
  </div>
</div>
