<div class="cart">
  <h2>{{ restaurantName }}</h2>
  <div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.quantity }}</span> X
    <span>{{ item.price / 100 }}$</span>
    <button (click)="increaseMealQuantity(item._id)">+</button>
    <button (click)="decreaseMealQuantity(item._id)">-</button>
    <hr />
  </div>
  <p *ngIf="totalPrice !== 0; else templateName">TOTAL: {{ totalPrice }}$</p>
  <ng-template #templateName>There are no items in the cart!</ng-template>
  <div class="btnDiv">
    <!-- <button
      [disabled]="totalPrice === 0"
      class="cart-btn"
      (click)="placeOrder()"
    >
      <span>Place order</span>
    </button> -->
    <button
      [ngClass]="{
        'btn-disabled': totalPrice === 0,
        'cart-btn': totalPrice !== 0
      }"
      (click)="placeOrder()"
    >
      <span>Place order</span>
    </button>
    <button
      [ngClass]="{
        'btn-disabled': totalPrice === 0,
        'cart-btn': totalPrice !== 0
      }"
      (click)="removeOrder()"
    >
      <span>Remove order</span>
    </button>
  </div>
</div>
