<div class="nav">
  <div class="navbar">
    <p class="logo" routerLink="homepage">TopFood</p>
    <ul class="navbar-buttons">
      <li>
        <nav-button
          *ngIf="isUserCustomer"
          (click)="openDialog()"
          [btnTitle]="this.btnCartTitle"
          [btnIcon]="this.btnCartIcon"
        ></nav-button>
      </li>
      <li>
        <nav-button
          (click)="handleUserAction()"
          [btnTitle]="this.btnSignInTitle"
          [btnIcon]="this.btnSignInIcon"
        ></nav-button>
      </li>
    </ul>
  </div>
</div>
