.card {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 350px;
  height: 150px;
  padding: 20px;
  margin: 5px;
  border-radius: 30px;
  border: 2px solid #e4e4e4;
  background-color: #e4e4e4;
}

.card:hover {
  background-color: #ffff;
  border: 2px solid #ff1e23;
}

.card-title {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.17em;
}

.card-description {
  font-weight: 300;
  height: 80px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
