<h2 class="dialogTitle" mat-dialog-title>create a {{ data.name }}</h2>
<div mat-dialog-content class="dialogContent">
  <form>
    <h2 class="formLabel">name</h2>
    <input
      minlength="3"
      required
      type="text"
      name="name"
      class="input"
      value
      [(ngModel)]="name"
    />
    <h2 class="formLabel">description</h2>
    <textarea
      minlength="4"
      required
      type="text"
      name="description"
      class="input"
      [(ngModel)]="description"
    ></textarea>
    <h2 *ngIf="data.name === 'meal'" class="formLabel">price</h2>
    <input
      *ngIf="data.name === 'meal'"
      minlength="2"
      required
      type="text"
      name="price"
      class="input"
      value
      [(ngModel)]="price"
    />
  </form>
  <div class="btnDiv">
    <button
      class="createRestaurantBtn"
      (click)="
        data.name === 'meal'
          ? addNewMeal(name, description, price, data.restaurantId)
          : addNewRestaurant(name, description)
      "
    >
      <span>Create {{ data.name }}</span>
    </button>
  </div>
</div>
